{# nica_custom/templates/nica_custom_cv.html.twig #}
<div class="container" id="container-print">
    <div class="row">
        <div class="col-md-9" >
            <div class="col-md-6">
                <img src="/themes/custom/nica_theme/img_cv/nica.jpg" class="photo_1"/>
            </div>
            <div class="col-md-6">
                <img src="/themes/custom/nica_theme/img_cv/cambio.png" class="photo_2"/>
            </div>
        </div>
    </div>
    <hr class="linear">
    <br>
    <div class="row">
        <div class="col-md-9">
            <p class="city-cv">{{ municipality }}, {{ departament }} {{ date }}</p>
            <br>
            <h4 class="constancy"><strong>CONSTANCIA DE PARTICIPACI&Oacute;N</strong></h4>

            <div class="col-md-8 col-md-offset-2">
                <p class="text-cv">
                    El motivo de la presente constancia es para manifestar que la
                    {% if nica_entity.field_gender.value == 'Masculino' %}
                        Sr.
                    {% else %}
                        Sra.
                    {% endif %}
                    <strong>{{ nica_entity.field_first_name.value }} {{  nica_entity.field_last_name.value }}</strong>
                    con cedula de identidad numero <strong>{{ nica_entity.field_national_id.value }}</strong>, ha participado en el programa social
                    “Somos El Cambio” que se desarrolla en la comunidad de <strong>{{ community }}</strong>, comarca del municipio
                    de {{ municipality }}.
                    <br><br>
                    <strong>El programa “Somos El Cambio”</strong>, es un programa de servicio comunitario que
                    les otorga a los participantes la oportunidad de realizar una labor comunitaria y que puedan
                    recibir un beneficio en especies, para satisfacer sus necesidades básicas. El programa se
                    ejecuta por medio de convenios de participación trimestrales. Los proyectos giran en función
                    de las necesidades de la comunidad. El programa promueve el cuido del medio ambiente, la
                    participación comunitaria, el liderazgo, el empoderamiento y el aumento de la dignidad
                    individual y familiar.
                    <br>
                    <strong>Registro de participación de la (el) participante:</strong>
                    <strong>{{ nica_entity.field_first_name.value }} {{  nica_entity.field_last_name.value }}</strong>
                    <br>
                <div class="center-block">
                    {{ drupal_view('profiles_views', 'block_1') }}
                </div>
                <br>
                Sin mas a que hacer referencia.
                <br>
                Atentamente,
                <br><br>
                <strong>{{ drupal_field('field_first_name', 'user', user.id()) }} {{  drupal_field('field_last_name', 'user', user.id()) }}</strong>
                <br>
                <strong>{{ organization }}</strong>

                <button id="nicaprint" type="button" class="btn btn-primary btn-circle btn-lg">
                    <i class="glyphicon glyphicon-print"></i>
                </button>
                </p>
            </div>
        </div>
    </div>
</div>
